<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand mx-3">Popcorn.com</a>
  <ul class="navbar-nav mr-auto d-flex justify-content-around flex-row ">
    <li class="nav-item active mx-2">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item mx-2">
      <a class="nav-link" href="/auth/login">login</a>
    </li>
    <li class="nav-item mx-2">
      <a class="nav-link" href="/auth/signup">Signup</a>
    </li>
    <li class="nav-item mx-2">
      <a class="nav-link" (click)="logout()">Logout</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>







<!-- <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand mx-3">Popcorn.com</a>
  <ul class="navbar-nav mr-auto d-flex justify-content-around flex-row ">
      <li class="nav-item active mx-2">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link" href="/auth/login">login</a>
      </li>
     <li class="nav-item mx-2">
        <a class="nav-link" href="/auth/signup">Signup</a>
      </li>
      <li class="nav-item mx-2">
    
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
     
    </ul>
  
</nav> -->

