
<!-- <div class="movie-details">
  <div class="movie-poster">
    <img [src]="movie.Poster" alt="{{ movie.Title }} Poster">
  </div>
  <div class="movie-info">
    <h2>{{ movie.Title }}</h2>
    <p><strong>Year:</strong> {{ movie.Year }}</p>
    <p><strong>IMDb ID:</strong> {{ movie.imdbID }}</p>
    <p><strong>Type:</strong> {{ movie.Type }}</p>
   
  </div>
</div> -->
<div class="movie-details">
  <div class="movie-poster">
    <img [src]="movie.Poster" alt="{{ movie.Title }} Poster">
  </div>
  <div class="movie-info">
    <h2>{{ movie.Title }}</h2>
    <p><strong>Year:</strong> {{ movie.Year }}</p>
    <p><strong>IMDb ID:</strong> {{ movie.imdbID }}</p>
    <p><strong>Type:</strong> {{ movie.Type }}</p>
   
   
    <button class="go-back-button" (click)="goBack()">Go Back</button>
  </div>
</div>




  
  